h1{color: rgb(183, 255, 116);}
h2{color:rgb(0, 255, 72)}
h3{text-align: left;
color: rgb(224, 0, 209)}
ul{color: rgb(207, 0, 200);
text-align: left}
button{color: rgb(255, 0, 0);}
body{color: rgb(255, 254, 234);
    background-color: rgb(25, 25, 25);
    font-family:comic_sans;
border-style: dotted;
border-width: 50px;
text-align: center;
padding: 50px;
border-radius: 50px;
}
@font-face{font-family:comic_sans;src:url(Fonts/ComicNeue-Regular.ttf);font-size: 50px;}
p{color: rgb(0, 149, 92);}
#List{border-style: solid;
border-width: 10px; 
background-color: black;
padding: 50px;
border-radius: 50px;}
#poster{border-style: dotted;
border-width: 10px;
border-color: rgb(255, 0, 0);
background-color: rgb(0, 73, 169);
padding: 50px;
border-radius: 50px;}
#poster-bio{color: rgb(255, 251, 0);}
#about-me{border-style: solid;
border-width: 70px;
border-color: rgb(0, 198, 20);
background-color: rgb(0, 0, 0);
padding: 50px;
border-radius: 50px;}
a{color: rgb(25, 253, 0);}
#the_thing{color: rgb(255, 0, 0);}
.comic{color: rgb(255, 247, 0);}